<div>
  <div class="website">
    <div div class="Main">
      <nav class="navbar">
        <div class="logo">CARTOON WORLD</div>
        <div>
          <div class="menu-burger-container">
            <div class="burger-line"></div>
            <div class="burger-line-2"></div>
            <div class="burger-line-3"></div>
          </div>
        </div>
        <div class="menu-a-button-container">
          <div class="menu">
            <ul class="nav-as">
              <li>
                <a routerLink="/home" routerLinkActive="activebutton">home</a>
              </li>
              <li>
                <a routerLink="/about" routerLinkActive="activebutton">About</a>
              </li>
              <li>
                <a routerLink="/addMore" routerLinkActive="activebutton"
                  >Add More</a
                >
              </li>
            
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
