.container {
    width: 320px;
    height: 580px;
    background-color: #F7F2FA;
    border-radius: 10px;
    box-shadow: 3px 9px 15px rgb(0, 0, 0, 0.5);
    transition: 0.s;
    margin: auto;
    width: 50%;
    margin-top: 15px;
}

.creacte-ac {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

.form-control {
    width: 260px;
    height: 26px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table tr {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.table th,
.table td {
    margin: 5px;
}

.text-center {
    display: flex;
    justify-content: space-evenly;
    margin: 17px;
    margin-top: -5px;
  }

.btn-div{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 7px;
    /* border: 1px solid black; */
    font-size: 17px;
    background-color: #e5e0da;
}
.a-tag{
    text-decoration: none;
   }
  